.vscode

/design

# Python File Ignores

# Don't push python virtual environment folder
venv
# Don't push Environment Variables file
*.env

*.pyc
__pycache__

instance/

.pytest_cache
.coverage
htmlcov

dist
build
*.egg-info


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files. (Ignoring Frontend Side)

# dependencies
*/node_modules
*/.pnp
.pnp.js

# testing
*/coverage

# next.js
*/.next/
*/out/

# production
*/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Jest Testing
.swc