name: Test & Deploy Backend

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - client/** # Should only run on backend changes
      - .gitignore
      - .github/**
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Install dependencies
        run: |
          pip install -r "./server/requirements.txt"
      - name: Test with pytest
        run: |
          pytest

  deploy:
    name: Deploy application
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v3
      - name: Deploy our app to Render if success
        if: ${{ success() }}
        run: curl ${{ secrets.RENDER_DEPLOY_HOOK }}
      - name: Cause action to fail if tests failed
        if: ${{ failure() }}
        run: exit 1
